/****** Begin base style *****/

/*Sets all elements to box-sizing: border box and
sets margin and padding to 0  */

body {
  font-family: Futura, sans-serif ;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #85CCFF;
  
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}


/****************************
NAV Bar Styling
****************************/

#container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 2vh;
}


#messageBar {
  height: 5vh;
  padding: 0 1vh;
}

#deleteMssgsBtn {
  width: 25%;
  border-radius: 5%;
}

#messageContainer {
  display: flex;
  flex-direction: column;
}

.inputMessage {
  width: 35%;
}

.chatty-logo {
  font-family: KiloGram, sans-serif;
  font-size: 30px;
  width: 40%;
  color: #185AFF;
 
  
}


/****************************
Message Output Styling
****************************/


#outputMessage {

  font-family: Futura, sans-serif;

  z-index:0;

  width: 90%;
  height: 60%;
  border: 2px solid black;
  margin: 6rem auto;
}

.message {
  margin: 1.5rem;
}


 /****************************
Message Output Styling
****************************/

.darkTheme{
  background-color: darkgray;
  color: white;
}

.largeText{
  font-size: 25px;
}

#container{
  background:gray;
  width:100%;
  position:fixed;
  top: 0;
}

#option-container{
  width:100%;
  margin-left:10%;
}

#messageBar{
  width:90%;
  margin-left:10%;
}
.chatty-logo  {
  display:inline;
}

.nav-bar-fix {
  margin-bottom: 3rem;
  display: block;
  width: 100%;
}

/*****************
Modal classes
*****************/
.colorModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 15%; /* Could be more or less, depending on screen size */
}
.modalContent input{
    display:block;
}
.modalContent input[type="button"]{
  display:inline-block;
}
.visible{
  display:block;
}

